*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
video,
svg,
canvas,
source {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  font: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font: inherit;
}

:root {
  // FONT
  --icon-fs: 2.5rem;
}

body {
  min-height: 100dvh;
  position: relative;
  isolation: isolate;

  font-family: "Roboto", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
