*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
video,
svg,
canvas,
source {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  font: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font: inherit;
}

:root {
  // BK CLR
  --start-bk-clr: hsla(0, 0%, 0%, 0.85);

  // BTN CLR
  --start-btn-bk-clr: #35b0ed;
  --start-btn-hover-bk-clr: #5dc0f1;

  // CLR
  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 0%);

  // FONT
  --icon-fs: 2.5rem;

  // INDEX
  --help-index: 300;
  --start-index: 200;
  --top-lvl-icon-index: 500;

  // INSET
  --sound-btn-top: 1.5rem;
  --sound-btn-left: 1.5rem;
  --help-btn-top: 1.5rem;
  --help-btn-right: 1.5rem;
}

body {
  min-height: 100dvh;
  position: relative;
  isolation: isolate;

  font-family: "Roboto", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
