.icon__sound,
.icon__help,
.icon__muted,
.icon__close {
  color: var(--white-clr);
}

.sound__btn,
.help__btn {
  z-index: var(--top-lvl-icon-index);
  position: absolute;
  display: none;
}

.sound__btn {
  top: var(--sound-btn-top);
  left: var(--sound-btn-left);
}

.help__btn {
  top: var(--help-btn-top);
  right: var(--help-btn-right);
}

.main {
  height: 100dvh;
  overflow: hidden;

  display: grid;
  grid-template-rows: auto 1fr;
}

.header__primary {
  // PADDING
  --header-pri-padding: 0.5rem 1.25rem;

  // GAP
  --game-status-gap: 1.75rem;
  --turn-gap: 0.5rem;

  // FONT-SIZE
  --game-status-fs: 1.5rem;

  // WIDTH & HEIGHT
  --small-ball-width: 1.5rem;

  // MARGIN
  --game-status-margin-rgt: 1rem;

  background-color: hsl(200, 85%, 89%);
  justify-content: space-between;
  padding: var(--header-pri-padding);

  .game__status {
    font-size: var(--game-status-fs);
    gap: var(--game-status-gap);
    margin-right: var(--game-status-margin-rgt);

    .turn {
      gap: var(--turn-gap);

      .small__ball {
        display: block;
        width: var(--small-ball-width);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-image: linear-gradient(
          250deg,
          #ff7a00,
          hsla(29, 100%, 75%, 0.504)
        );
      }

      &__left {
      }
    }

    .score {
      &__curr {
      }
    }
  }
}

.game {
  // WIDTH & HEIGHT
  --spikes-height: 2rem;
  --ladder-width: 12rem;
  --ladder-height: 1.25vh;

  position: relative;

  &__area {
    background-image: url(../../Images/cloud_three.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .spikes {
    background-image: url(../../Images/spikes-3.svg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    height: var(--spikes-height);
  }

  .ladder {
    position: absolute;
    background-color: #222;
    width: var(--ladder-width);
    height: var(--ladder-height);

    &__one {
      bottom: 40vh;
      left: 50vw;
    }

    &__two {
      bottom: 60vh;
      left: 30vw;
    }
  }
}
